<!DOCTYPE html>
<html>
    <head>
        <link href="static/main.css" rel="stylesheet" type="text/css">
        <script type = "module" src ="{{url_for('static', filename='main.js')}}"></script>
        <title>The NYSE</title>
    </head>

    
    <body class="body">
        <div class = "container">
            <div class="text">
                <h1>what is the NYSE</h1>
                <h2>NYSE = the newyork stock exchange</h2>
                <p>welcome to my amazig page (:</p>
            </div>
            <div class="picAndLink">
                <img src="https://images.pexels.com/photos/534216/pexels-photo-534216.jpeg?auto=compress&cs=tinysrgb&w=600" style = "width:400px"></img>
                <br>
                <a href="https://en.wikipedia.org/wiki/New_York_Stock_Exchange">wiki</a>
            </div>
            <br>
            <div class="radioOptions">
                <input type="radio" name="options">blue
                <input type="radio" name="options">red
                <input type="radio" name="options">black
                <input type="radio" name="options">yellow
                <input type="radio" name="options">green
            </div>
            <button class="colorButton">right here</button>
        </div>
    </body>
</html>
